/*  ---------------------------- pali-sin.css ----------------------------
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- namako pi ma ilo ni ---- */
body, html {
    background-color: #fef3d3;
}

#poki-lawa {
    background: url('img/bg.png');
    background-attachment: fixed;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-color: #fef3d3;
}

#poki {
    background-color: white;
    border: 2px solid #444;
    padding: 15px;
    margin: 15px auto;
    max-width: 700px;
    width: calc(100% - 60px);
}

h1 {
    font-size: xx-large;
    margin-bottom: 10px;
}

h2 {
    font-size: x-large;
    margin-bottom: 10px;
}

img {
    margin: 25px;
    max-width: calc(100% - 25*2px);
}

img.float {
    float: right;
    clear: right;
    padding-left: 15px;
}

#poki-tawa {
    margin-top: 15px;
    text-align: center;
}

#poki-tawa a {
    margin: 0 15px;
}

p {
    margin: 10px 0;
    text-indent: 10px;
}

em {
    font-style: italic;
}

.toki-ante {
    border: 1px solid gray;
    padding: 15px;
    color: #444;
    margin-bottom: 35px;
}

.nanpa-toki {
    text-align: right;
    margin-top: 5px;
    font-size: 80%;
}

@media screen and (max-width: 600px) {
    img.float {
        float: none;
        display: block;
        margin: 25px auto;
    }
    #poki-tawa a {
        margin-left: 5px;
        margin-right: 5px;
    }
}
